In [32]:
import pandas as pd
import numpy as np

In [33]:
eth_in = pd.read_csv('main_hodl.csv')
xDai_in = pd.read_csv('xDai_hodl.csv')

In [34]:
N1 = eth_in.shape[0]
hodl_list_dict = {}
i = 0
while i < N1:
    hodl_list_dict[eth_in.iat[i, 0]] = [eth_in.iat[i, 1], eth_in.iat[i, 2], eth_in.iat[i, 3]]
    i = i + 1

N2 = xDai_in.shape[0]
i = 0
while i < N2:
    if xDai_in.iat[i, 0] in hodl_list_dict: #for existing account
        d1 = hodl_list_dict[xDai_in.iat[i, 0]][1] #eth_in_time
        d2 = xDai_in.iat[i, 2] #xDai_in_time
        
        if d1 < d2:
            pass #keep the data in the earlier date 
        else:
            hodl_list_dict[xDai_in.iat[i, 0]] = [xDai_in.iat[i, 1], xDai_in.iat[i, 2], xDai_in.iat[i, 3]] #replace with xDai data which is earlier
        
    else:
        hodl_list_dict[xDai_in.iat[i, 0]] = [xDai_in.iat[i, 1], xDai_in.iat[i, 2], xDai_in.iat[i, 3]] 
    i = i + 1

In [35]:
hodl_list_dict

{'\\xcbf935ec0827ca8c096e52edba7b1879f77c78e2': [4.75e+23,
  '2021/2/28 19:40',
  11947743],
 '\\xb9e7f09bf5ecc2bfb1be70f4f1bcc4792711cb9f': [5e+23,
  '2021/3/3 18:03',
  11966827],
 '\\x6057f353c177ee622c787bdaff5cab70a2184efb': [7.3e+23,
  '2021/3/12 6:17',
  12022073],
 '\\xaa58988e160da2065f17c801e09999d04add0468': [7.3e+23,
  '2021/4/26 5:40',
  12314104],
 '\\xc2be79cf419cf48f447320d5d16f5115bbb58b03': [7.3e+23,
  '2021/4/26 5:43',
  12314121]}

In [36]:
hodl_list_df = pd.DataFrame.from_dict(hodl_list_dict, orient='index')
hodl_list_df = hodl_list_df.reset_index()
hodl_list_df.columns = ['address', 'value', 'time', 'block number']
hodl_list_df

,address,value,time,block number
0,\xcbf935ec0827ca8c096e52edba7b1879f77c78e2,4.750000e+23,2021/2/28 19:40,11947743
1,\xb9e7f09bf5ecc2bfb1be70f4f1bcc4792711cb9f,5.000000e+23,2021/3/3 18:03,11966827
2,\x6057f353c177ee622c787bdaff5cab70a2184efb,7.300000e+23,2021/3/12 6:17,12022073
3,\xaa58988e160da2065f17c801e09999d04add0468,7.300000e+23,2021/4/26 5:40,12314104
4,\xc2be79cf419cf48f447320d5d16f5115bbb58b03,7.300000e+23,2021/4/26 5:43,12314121

In [37]:
eth_out = pd.read_csv('main_out.csv')
xDai_out = pd.read_csv('xDai_out.csv')

In [38]:
N3 = eth_out.shape[0]
Out_transfers_dict = {}
i = 0
while i < N3:
    Out_transfers_dict[eth_out.iat[i, 0]] = [eth_out.iat[i, 1], eth_out.iat[i, 2], eth_out.iat[i, 3]]
    i = i + 1


N4 = xDai_out.shape[0]
i = 0
while i < N4:
    if xDai_out.iat[i, 0] in Out_transfers_dict: #for existing outgoing transfers
        Out_transfers_dict[xDai_out.iat[i, 0]][0] = Out_transfers_dict[xDai_out.iat[i, 0]][0] + xDai_out.iat[i, 1]
        #sum value of outgoing transfers
        d3 = Out_transfers_dict[xDai_out.iat[i, 0]][1] #time for the last outgoing transfer in ETH
        d4 = xDai_out.iat[i, 2] #time for the last outgoing transfer in xDai
        
        if d3 < d4:
            Out_transfers_dict[xDai_out.iat[i, 0]][1] = d4 #use the later one
            Out_transfers_dict[xDai_out.iat[i, 0]][2] = xDai_out.iat[i, 3] #update the block number
        else:
           pass
    else:
        Out_transfers_dict[xDai_out.iat[i, 0]] = [xDai_out.iat[i, 1], xDai_out.iat[i, 2], xDai_out.iat[i, 3]]
    i = i + 1
    
#Out_transfers_dict

In [39]:
Out_transfers_df = pd.DataFrame.from_dict(Out_transfers_dict, orient='index')
Out_transfers_df = Out_transfers_df.reset_index()
Out_transfers_df.columns = ['address', 'value', 'time', 'block number']
Out_transfers_df

,address,value,time,block number
0,\x6057f353c177ee622c787bdaff5cab70a2184efb,-7.300000e+23,2021/4/26 5:40,12314104
1,\xcbf935ec0827ca8c096e52edba7b1879f77c78e2,-4.750000e+23,2021/5/19 6:32,12463236
2,\xb9e7f09bf5ecc2bfb1be70f4f1bcc4792711cb9f,-5.000000e+23,2021/5/19 7:00,12463359
3,\xaa58988e160da2065f17c801e09999d04add0468,-1.400000e+24,2021/6/17 6:24,12650320

In [40]:
i = 0
hodl_balance_dict = hodl_list_dict

In [41]:
hodl_balance_dict

{'\\xcbf935ec0827ca8c096e52edba7b1879f77c78e2': [4.75e+23,
  '2021/2/28 19:40',
  11947743],
 '\\xb9e7f09bf5ecc2bfb1be70f4f1bcc4792711cb9f': [5e+23,
  '2021/3/3 18:03',
  11966827],
 '\\x6057f353c177ee622c787bdaff5cab70a2184efb': [7.3e+23,
  '2021/3/12 6:17',
  12022073],
 '\\xaa58988e160da2065f17c801e09999d04add0468': [7.3e+23,
  '2021/4/26 5:40',
  12314104],
 '\\xc2be79cf419cf48f447320d5d16f5115bbb58b03': [7.3e+23,
  '2021/4/26 5:43',
  12314121]}

In [42]:
N_out = Out_transfers_df.shape[0]

while i < N_out:
    if Out_transfers_df.iat[i, 0] in hodl_list_dict:#should always hold

        d1 = hodl_list_dict[Out_transfers_df.iat[i, 0]][1] #time for first ongoing transfer
        d2 = Out_transfers_df.iat[i, 2] #time for the last oytgoing transfer

        if d1 <= d2: #should always hold, then update the balance and time
            hodl_balance_dict[Out_transfers_df.iat[i, 0]] = [hodl_list_dict[Out_transfers_df.iat[i, 0]][0]+Out_transfers_df.iat[i, 1], Out_transfers_df.iat[i, 2], Out_transfers_df.iat[i, 3]]
        else:
            print(Out_transfers_df.iat[i, 0], Out_transfers_df.iat[i, 1], Out_transfers_df.iat[i, 2])        
    else:
        print(Out_transfers_df.iat[i, 0], Out_transfers_df.iat[i, 1], Out_transfers_df.iat[i, 2])
    i = i + 1

In [43]:
hodl_balance_dict

{'\\xcbf935ec0827ca8c096e52edba7b1879f77c78e2': [0.0,
  '2021/5/19 6:32',
  12463236],
 '\\xb9e7f09bf5ecc2bfb1be70f4f1bcc4792711cb9f': [0.0,
  '2021/5/19 7:00',
  12463359],
 '\\x6057f353c177ee622c787bdaff5cab70a2184efb': [0.0,
  '2021/4/26 5:40',
  12314104],
 '\\xaa58988e160da2065f17c801e09999d04add0468': [-6.7e+23,
  '2021/6/17 6:24',
  12650320],
 '\\xc2be79cf419cf48f447320d5d16f5115bbb58b03': [7.3e+23,
  '2021/4/26 5:43',
  12314121]}

In [44]:
hodl_balance_df = pd.DataFrame.from_dict(hodl_balance_dict, orient='index')
hodl_balance_df = hodl_balance_df.reset_index()
hodl_balance_df.columns = ['address', 'value', 'time', 'block number']
hodl_balance_df

,address,value,time,block number
0,\xcbf935ec0827ca8c096e52edba7b1879f77c78e2,0.000000e+00,2021/5/19 6:32,12463236
1,\xb9e7f09bf5ecc2bfb1be70f4f1bcc4792711cb9f,0.000000e+00,2021/5/19 7:00,12463359
2,\x6057f353c177ee622c787bdaff5cab70a2184efb,0.000000e+00,2021/4/26 5:40,12314104
3,\xaa58988e160da2065f17c801e09999d04add0468,-6.700000e+23,2021/6/17 6:24,12650320
4,\xc2be79cf419cf48f447320d5d16f5115bbb58b03,7.300000e+23,2021/4/26 5:43,12314121